@mainColor: #eca032;
@mainColorDarker: #ea862e;
@secondaryColor: gray;

@cartWidth: 300px;

@import "pizza/pizza-main";
@import "pizza/pizza-card";
@import "pizza/cart";
@import "pizza/buttons";
@import "pizza/navbar";
@import "pizza/footer";
@import "pizza/labels";

#wrapper {
  width: 100%;
  background: @backgroundColor;
}