<div>
    <%= pizza.title %> (<%= size %>)
    <div>Ціна: <%= pizza[size].price %> грн.</div>
    <div>
        <button class="btn btn-danger minus">-</button>
        <span class="label label-default"><%= quantity %></span>
        <button class="btn btn-success plus">+</button>
    </div>
</div>